

# LangChain Core
langchain==1.0.7
langchain-core==1.1.0
langchain-google-genai==3.2.0




# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

# database
sqlite-utils
duckdb
sqlglot
# Web Interface
streamlit

# Structured Output
pydantic
typing-extensions

# Visualize LangChain Chains
grandalf

# Document Loaders
langchain-community

# PDF and HTML Parsing
pypdf
beautifulsoup4
requests

# Experimental LangChain Features
langchain-experimental

# Vector Store Backends
faiss-cpu
ipykernel


# Web Search
duckduckgo-search

# Training
datasets
# Additional LangChain Integrations
langchain-groq
langchain_tavily

langgraph

langsmith
langgraph-cli[inmem]

# test
pytest
